* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and (min-width: 600px) {}

@media screen and (max-width: 800px) {}


body header main {
    width: 100%;
}

main {
       background-color: #b7dff7;
       
}

header {

    background-color: teal;
}
.nave {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.logotipo {
    width: 10%;
    height: 100px;
    background-image: url("./logoAC.png");
}

.img_logo {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .logotipo {

        width: 50%;
    }
}

.menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item-menu {
    width: 100%;
    color: #fffaff;
    text-decoration: none;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.item-menu:hover {
    background-color: gold;
}

@media screen and (max-width: 800px) {
    .menu {
        display: grid;
        grid-template-columns: auto;
    }

    .item-menu {

        padding-left: 60px;
        padding-right: 60px;
        /* width: 100%; */
    }
}

.grid-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: ' nosotros nosotros nosotros'
        'venta posventa financiacion';
}

@media screen and (max-width: 800px) {
    .grid-home {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


.grid-catalogo {
    border: 2px solid rgb(167, 195, 245);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
@media screen and (max-width: 800px) {
    .grid-catalogo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


.posventa {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2%;

}


.container-servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    


}

@media screen and (max-width: 800px) {
    .container-servicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.item-home {
    background-color: rgb(38, 148, 192);
    height: 280px;
    border: none;
    color: rgb(1, 1, 80);
    margin: 2%;
    border-radius: 1.5%;
    font-size: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-home>p{
    padding:5%;
    font-size: large;
}
.item-catalogo {
    
    text-align: center;
    border-radius: 50%;
    margin:3%;
}

.item-catalogo:hover{
    border:1px double rgba(128, 128, 128, 0.418);    
   
}

.item-servicios {
    height: 180px;
    border: none;
    background: #0079C1;
    color: #FFF;
    margin: 2%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border-radius: 1.5%;
    font-size: 80%;
    text-align: center;

}


.item-servicios:hover {
    top: -7px;
    box-shadow: 0 1px 1px #7a7b7b,
        0 2px 2px #7a7b7b,
        0 4px 4px #7a7b7b,
        0 6px 8px #7a7b7b,
        0 8px 16px #7a7b7b;
}

.item-servicios>h2 {
    padding-top: 30%;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nosotros {
    grid-area: nosotros;
    width: 100%;
    color: rgb(1, 1, 80);
    text-align: center;
   
}

.nosotros-titulo {
    text-align: center;
    width: 100%;
    padding: 1%;
}

.contactenos {
  
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    text-align: center;
}



.formulario {

    text-align: left;
    padding: 2%;
}

.ubicacion {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        
}

.direccion{
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
    .contactenos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .ubicacion{
        padding:10%;
    }
    .direccion{
        text-align: center;
        padding-bottom: 10%;
        
    }
}


.footer {
    border: 2px solid slateblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}