* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and (min-width: 600px) {
  

}

@media screen and (max-width: 800px) {
    
}
  

body{
    width: 100%; 
}

header{
    width: 100%;
    background-color: teal;
}

.nave{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logotipo{
    border: 2px solid salmon;
    width: 10%;
    background-image: url("./logoAC.png");
}
.img_logo{
    width: 100%;
}

.menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item-menu {
    width: 100%;
    text-decoration:none;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.item-menu:hover{
    background-color: gold;
}
.grid-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'nosotros nosotros nosotros' 
                        'venta posventa financiacion';
}
.grid-item  {
    border:2px solid darkblue;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    
}
.grid-catalogo {
    border: 2px solid fuchsia;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.grid-posventa{
    display: flex;

    /* grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'nosotros nosotros nosotros nosotros' 
                        'posventa posventa posventa posventa ';*/
}

.item-home {
    background-color:greenyellow;
}


.item-catalogo{
    background-color: rgb(243, 42, 153);
}

.item-servicios{
    background-color: lemonchiffon;
}



.nosotros{
    grid-area: nosotros;
    text-align: center;
    margin: 0.5%;
    padding: 0.3%;
}


.footer{
    border: 2px solid slateblue;
}